@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
  font-family: 'Comfortaa', sans-serif;
}

h2 {
    font-size: 1.5em;
}

#feedback {
    color: white;
    background-color: #e74c3c;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    border: black solid 1px;
    text-align: center;
    padding: 8px;
}

#fundo-form {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 20px;
    color: black;
}
  
#fundo-form label {
    display: block;
    margin-bottom: 10px;
}
  
#fundo-form input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: black solid 1px;
    border-radius: 15px;
    text-align: center;
}

#fundo-form input:focus {
    outline: none;
    box-shadow: 0 0 30px rgb(140,127,212);
}

#fundo-form select:focus{
    outline: none;
    box-shadow: 0 0 30px rgb(140,127,212);
}

#fundo-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: black solid 1px;
    border-radius: 15px;
    text-align: center;
}
  
#fundo-form h3 {
    margin-top: 20px;
}
  
#fundo-form button {
    display: block;
    width: 95%;
    padding: 10px;
    background-color: rgb(153,144,202);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
  
#fundo-form button:hover {
    background-color: rgb(140,127,212);
}

h3 {
    text-align: center;
}

#fundo-form .avaliacao-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#fundo-form .avaliacao-label {
    width: 100%; /* Ajuste a largura conforme necessário */
}

#fundo-form .avaliacao-input {
    flex-grow: 0;
    width: 88%;
    padding: 8px;
    border: black solid 1px;
    border-radius: 15px;
}

#fundo-form .avaliacao-label.nota{
 width: 40%;
}

#fundo-form .avaliacao-input[type="number"] {
    width: 70%;
}

#fundo-form .avaliacao-label.inline{
    width: auto;
    height: auto;
    margin: 0;
}

#fundo-form .avaliacao-input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0px 4px 0px 1px;
}

#fundo-form .avaliacao-button {
    width: 70%;
}